.contentContainer {
    display: flex;
    background: var(--second-color);
}

.contentContainer>* {
    width: 50%;
}

.rightContent {
    padding-right: 15px;
}

.leftContent {
    height: 100vh;
    position: relative;
}

.leftContent>* {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
}

.contentMarker{

}

.images{}

.rightContent img{
    display: none;
    transform: rotate(5deg);
}


@media screen and (max-width: 800px) {
    .leftContent {
        display: none;
    }

    .rightContent {
        padding-left: 15px;
        width: 100vw;
    }

    .rightContent img{
        display: unset;
        border: 0.25rem solid #Fff;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-items: center;
        align-self: center;
        width: 80vw;
        display: block;
        margin-left: 7vw;

    }

}

.headerection {
    text-align: center;
    padding: 1rem 6rem;
}
