.headerContainer{
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    color: var(--white);
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    max-width: var(--max-width);
    font-size: 2rem;
    align-items: center;
    z-index: 99;
}
.headerContainer img {
    width: 8rem;
}
@media  (min-width: 980px) and (max-width: 1440px)  {
    .headerContainer{
        font-size: 1.5rem;
    }
    
}

@media  (min-width: 600px) and (max-width: 980px)  {
    .headerContainer{
        font-size: 1rem;
    }
    
}

@media   (max-width: 600px)  {
    .headerContainer{
        font-size: 1rem;
        padding: 1rem 1rem;
    }
    
}